.content {
    display: grid;
    background-color: cornflowerblue;
    grid-area: c;
}

.item {
    color: gold;
}

.mainImgForContent {
    justify-self: center;
}

.mainImgForContent img {
    width: 800px;
    height: 400px;
}

