.dialogs {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 15px 15px 0 15px;
    height: 200px;
}

.dialogsItems {
    padding: 10px 10px 0 10px;
    background-color: lightslategray;
    box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.dialog a {
    text-decoration: none;
    color: deepskyblue;
    font-size: 16px;
}

.dialog a.active {
    color: gold;
    font-size: 16px;
}

.message {
    display: flex;
    flex-direction: column;
}

.message img {
    width: 20px;
    height: 20px;
}

.companionMessage {
    display: flex;
    justify-content: start;
    font-size: 14px;
}

.companionMessage img {
    margin-right: 5px;
}

.userMessage {
    display: flex;
    justify-content: end;
    font-size: 14px;
}

.userMessage img {
    margin-left: 5px;
}