.messages {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid whitesmoke;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.messagesFriendDialog {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.messagesFriendDialog img {
    width: 30px;
    height: 30px;
    border: 2px solid limegreen;
    border-radius: 50%;
}