.header {
    display: flex;
    background-color: royalblue;
    grid-area: h;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.header img {
    margin-left: 20px;
    width: 30px;
    align-self: center;
}
