.nav {
    padding: 20px 0 0 20px;
    background-color: powderblue;
    grid-area: n;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: cornflowerblue;
    font-size: 18px;
}

.navFriends {
    margin-top: 60px;
    font-size: 30px;
    color: cornflowerblue;
}

.navFriendsItems {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-size: 16px;
    text-align: center;
}

.navFriendsItems img {
    width: 60px;
    height: 60px;
}

