.content {
    width: 80%;
    height: 100%;
    margin-left: 10px;
    text-align: center;
    background-color: royalblue;
}

.content img {
    width: 100%;
    height: 200px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.newPost {
    display: flex;
    justify-content: flex-start;
}

.posts {

}

.item {
    color: hotpink;
}