.mainContentImg {
    height: calc(100% - 100px);
}

.mainContentImg img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.avatarDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(100% - 175px);
    width: 100%;
    justify-content: center;
}

.avatarDescription img {
    width: 100px;
    height: 100px;
}

.avatarDescription h3 {
    margin: 10px 0 0 0;
}

.profileInfo {
    background-color: white;
    border-radius: 10px;
    height: 300px;
    position: relative;
}