.mainContentImg img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.avatarDescription {
    display: flex;
    padding: 10px 5px 5px 5px;
    align-items: center;
}

.avatarDescription img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}