.post {
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: lightcyan;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
    align-items: center;
}

.post img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.item {
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

.post:hover {
    background-color: lavender;
}

.likesArea {
    display: flex;
    margin-right: 10px;
    margin-left: auto;
    align-items: center;
}

.likesArea img {
    padding-top: 3px;
    margin-left: 5px;
    filter: invert(92%) sepia(31%) saturate(421%) hue-rotate(243deg) brightness(90%) contrast(108%);
    width: 14px;
    height: 14px;
}
