.postsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.newPost {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.posts {

}