.app-wrapper {
    display: grid;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    width: 60%;
    margin: 0 auto;
}

.app-wrapper-content {
    display: grid;
    background-color: cornflowerblue;
    grid-area: c;
}