.dialogsContainer {
    width: 100%;
    text-align: center;
    display: flex;
}

.dialogs {
    width: 30%;
    padding: 10px;
    text-align: start;
}

.dialogs .active {
    color: hotpink;
}

.messages {
    width: 70%;
    padding: 10px;
    text-align: start;
}

.message {
    border-radius: 5px;
    background-color: honeydew;
    margin-bottom: 10px;
}

.message div {
    padding: 5px;
}